@import "tailwindcss";

@font-face {
  font-family: 'Fira Sans';
  src: url('/FiraSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html, body, #root {
  width: 100%;
  min-height: 100%; /* 確保內容可以超出後撐高 */
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* 僅限制橫向不要出現 scrollbar */
  overflow-y: auto;   /* ✅ 允許垂直滾動 */
  background-color: #7B815F;
  font-family: 'Fira Sans', sans-serif;
  color: #e6e6d6;
  scroll-behavior: smooth;
}

* {
  color: inherit;
  box-sizing: border-box;
}